@charset "utf-8";

/*common*/
.title{
    font-size: 3.125rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.moreBtn{
    display: block;
    width: 100%;
    max-width: 110px;
    padding: 11px 0;
    margin-top: 30px;
    margin: 10px auto;
    border: solid 1px #444;
    border-radius: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
    background-color: transparent;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}
.moreBtn:hover{
    background:#222;
    color:#fff;
}
.longMoreBtn{
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 16px 0;
    border: solid 1px #222;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    background: transparent;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}
.longMoreBtn span::after{
    content: '';
    width: 44px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url("../images/ico_more1.png") no-repeat 0 0 / 44px auto;
}
.longMoreBtn:hover{
    background-color:#222;color:#fff;
}
.longMoreBtn:hover span::after{
    content: '';
    width: 44px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url("../images/ico_more2.png") no-repeat 0 0 / 44px auto;
}